*{
    font-family: 'Itim', cursive;
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    width: auto;
    height: 100px;
  }
.wrapper{
    background-image: url("./mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin:0%;
    padding: 1%;
    min-height: 616%; 
}

.box-2{
    background-image: url(./Footer-Background-2.jpg);
    background-attachment: fixed;
    color:white;
    font-size: 25px;
    text-align:center;
    margin-bottom:15%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right:auto;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Itim', cursive;
}
.box-2 ul :hover{
    transform: scale(1.2);
}
.swiper-container{
    background-image: url("./material-design-colorful-edges.jpg");
    height: 100vh;
    margin-top: -12.9%;
    background-size:cover;
    background-attachment: fixed;
}

ul {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    padding-left: 24%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    transition: all;
}
ul.nav-list{
    flex-direction: column;
}
li:hover{
    text-decoration:none;

}
a:link {
    text-decoration: none;
    font-family: 'Itim', cursive;
}
a{
    color:#333;
    font-family: 'Orbitron', sans-serif;
}
article.intro{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 200%;
    color: white;
    margin-top: 104px;
}
.swiper-wrapper{
    width: 100%;
}
.swiper-slide{
    text-align:center;
    margin-top: 110px;
   
    /* height:200px;
    display: inline-flex;
    justify-content:center;
    width:200px;
    */
}
.swiper-slide img{
    height:70%;
  }
h2{
    position: absolute;
    margin-left: 43%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    
}
.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
.btn {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
.prev {
    margin-right: 15px;
  }
  
.btn:disabled {
    background-color: #666;
    cursor: not-allowed;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 100px;
  right:auto;
  padding-top:65%;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 100px;
  left: auto;
  padding-top:65%;
}
:root {
    --swiper-theme-color: white;
}
a {
    flex-direction: column;
}
.container {
    position: relative;
    width: 50%;
  }
.overlay {
    
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
      
    backdrop-filter: blur(5px);
    overflow: hidden;
    width: 55%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    height: 200%;
    bottom:-200%;
  }
  .last{
     text-align:center;
      color:white;
      padding-top: 1%;
      background-image: url(./doopchat-footer-background.jpg);
      background-attachment: fixed;
    }
  .picture img{
      width:30px;
      height:30px;
    } 
    footer p{
        font-size: 22px;
        letter-spacing: 3px;
    }
